*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.team-container{
  display: flex;
  flex-wrap: wrap;
}

.team-card{
  border: 1px solid black;
  border-radius: 12px;
  width: 31%;
  height: 350px;
  margin: 1%;
  text-align: left;
  padding: 1%;

  display:flex;
  flex-direction: column;
}

.team-card p{
  margin: 1%;
}

.team-card img{
  width: 70%;
  margin: 0 auto;
}

.team-card form{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.toggle:hover{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.nickname{
  width: 80%;
}

.nickname-btn{
  width: 20%;
}

.moves{
  display: flex;
}

td{
  vertical-align: top;
}

.moves p{
  width: 100%;
  margin-left: 20%;
}

.remove{
  position: relative;
  font-weight: bold;
  left: 90%;
}

.remove:hover{
  cursor:pointer;
  color:red;
}

.empty img{
  margin: auto;
}